http_proxy="http://{{ cntlm_listen_address }}:{{ cntlm_listen_port }}/"
https_proxy="https://{{ cntlm_listen_address }}:{{ cntlm_listen_port }}/"
ftp_proxy="ftp://{{ cntlm_listen_address }}:{{ cntlm_listen_port }}/"
socks_proxy="socks://{{ cntlm_listen_address }}:{{ cntlm_listen_port }}/"
