[Unit]
Description=Standalone
ConditionPathExists={{ standalone_script }}
After=network.target

[Service]
Type=oneshot
User=qualif
ExecStart={{ standalone_script }} start
ExecStop={{ standalone_script }} stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
