[Unit]
Description=Serviio
ConditionPathExists={{ serviio_script }}
After=network.target

[Service]
Type=simple
User=qualif
ExecStart={{ serviio_script }}
ExecStop={{ serviio_script }} -stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
